*{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body{
  overflow: hidden;
}

/**
背景颜色
*/


// 字体主色系
.font-color{
  @include themify($themes) {
    color: rgba($color: themed("whites"), $alpha: 0.5);
  }
}
// 字体主色系下级别颜色
.font-color-level1{
  @include themify($themes) {
    color: rgba($color: themed("whites"), $alpha: 0.75);
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: #333;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: #999;
  min-height: 150px;
  min-width: 150px;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #ccc
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #ccc
}
