*{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: #333;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: #999;
  min-height: 150px;
  min-width: 150px;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #ccc
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #ccc
}


