
html, body {
  height: 100%;
  width: 100%;
}
.amap-marker-content{
  // whites-space: nowrap !important;
}
.custom-content-marker {
  position: relative;
}
.map-marker-shuidi{
  font-size: 20px;
}

.iconfont>i{
  // color:red;
  position: absolute;
  left: 2px;
  top: 2px;
  font-size: 16px;
}


// tooptip类
.markerTooltips{
  // display: none;
  position: absolute;
}

.map-marker-shuidi:hover +.markerTooltips{
  display: inline-block;
}