$theme-324467 : (
  // 背景主色调
  back: #324467,
  // 模块承载体背景颜色。
  cardPack-back: #283653,
  // 左右下工具条背景颜色。
  tools-back: #324467,
  // 主色调下的级别颜色
  back-level1:#324467,

  // 字体主色调
  color: #7C838A,
  // 字体主色调下的级别颜色
  color-level1: #AAB7BF,
);



