$theme-defalut : (
  // 背景主色调
  back: #282B35,
  // 模块承载体背景颜色。
  cardPack-back: #282B35,
  // 左右下工具条背景颜色。
  tools-back: #333846,
  // 主色调下的级别颜色
  back-level1:#29303D,

  // 字体主色调
  color: #7C838A,
  // 字体主色调下的级别颜色
  color-level1: #AAB7BF,
);



