@import "@/assets/styles/defalut";
@import "@/assets/styles/red";
@import "@/assets/styles/blue";
@import "@/assets/styles/green";

$themes: (
  red: $theme-red,
  green: $theme-green,
  blue: $theme-blue,
  defalut: $theme-defalut
);

@mixin themify($themes: $themes) {
  @each $theme-name, $map in $themes {
 
    .theme-#{$theme-name} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
 
      @content;
 
      $theme-map: null !global;
    }
  }
}
 
@function themed($key) {
  @return map-get($theme-map, $key);
}

// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// .body-theme-blue {
//   @import './theme/theme-blue.scss';
//   @import "~element-ui/packages/theme-chalk/src/index";
// }

// .body-theme-red {
//   @import './theme/theme-red.scss';
//   @import "~element-ui/packages/theme-chalk/src/index";
// }

// .body-theme-orange {
//   @import './theme/theme-orange.scss';
//   @import "~element-ui/packages/theme-chalk/src/index";
// }