@import "./common";

$theme-blue : (
  normal:#2d61c5,
  darken:#294f9c,
  
  light:#2664dc,
  linear:linear-gradient(180deg, #26334D 0%, #2D3B59 100%),

  primary:$primary,
  primary-linear:$primary-linear,

  danger:$danger,
  danger-linear:$danger-linear,

  warning:$warning,
  warning-linear:$warning-linear,

  success:$success,
  success-linear:$success-linear,

  whites:$whites,
  whites-linear:$whites-linear,

  blacks:$blacks,
  blacks-linear:$blacks-linear
);






