@import "./common";

$theme-green : (
  normal:#67c23a,
  darken:#5daf34,
  
  light:#6de034,
  linear:linear-gradient(180deg, #26334D 0%, #2D3B59 100%),

  primary:$primary,
  primary-linear:$primary-linear,

  danger:$danger,
  danger-linear:$danger-linear,

  warning:$warning,
  warning-linear:$warning-linear,

  success:$success,
  success-linear:$success-linear,

  whites:$whites,
  whites-linear:$whites-linear,

  blacks:$blacks,
  blacks-linear:$blacks-linear
);






