$theme-red : (
  // 背景主色调
  normal: #b93561,
  // 模块承载体背景颜色。
  darken: #b32d59,
  // 左右下工具条背景颜色。
  // normal: #cf2860,
  // // 主色调下的级别颜色
  // normal:#e4467b,

  // 字体主色调
  color: rgb(210, 210, 211),
  // 字体主色调下的级别颜色
  color-level1: rgb(236, 236, 236),
);



