@import "./defalut";
@import "./red";
@import "./blue";
@import "./green";
@import "./324467";

$themes: (
  // red: $theme-red,
  // green: $theme-green,
  // blue: $theme-blue,
  // defalut: $theme-defalut,
  324467: $theme-324467
);

@mixin themify($themes: $themes) {
  @each $theme-name, $map in $themes {
 
    .theme-#{$theme-name} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
 
      @content;
 
      $theme-map: null !global;
    }
  }
}
 
@function themed($key) {
  @return map-get($theme-map, $key);
}